.mb-5{
    margin-bottom: 50px;
}
.back {
    height: 500px; /* Set a fixed height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top:150px;
  }
  
  .table {
    width: 100%; /* Table width should be 100% of the container */
    white-space: nowrap; /* Prevent line breaks within table cells */
  }
  @media only screen and (max-width:576px){
    .table {
    width: 100%; /* Table width should be 100% of the container */
    white-space: nowrap; /* Prevent line breaks within table cells */
  }
  .back{
    width:200px;
    overflow-x:auto;
  }
  .back {
    height: 500px; /* Set a fixed height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
    
  }
  .back1 {
    height: 1000px; /* Set a fixed height for the table container */
    overflow-y: auto;
    margin-top: 0; /* Enable vertical scrolling */
    
  }
  form{
    width: 100%; /* Table width should be 100% of the container */
    white-space: nowrap; /* Prevent line breaks within table cells */
  }
  
  

}
@media only screen and (min-width:768px) and (max-width:992px){
    .table {
    width: 100%; /* Table width should be 100% of the container */
    white-space: nowrap; /* Prevent line breaks within table cells */
  }
  .back{
    width:80%;
    overflow-x:auto;
  }
}
  